<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact me</title>
</head>
<body>
<H1>
 <p style="font-family:Tahoma">Hadas Porat
</H1>
<p>
    <p style="font-family:Tahoma">
    E-mail: hadas912@gmail.com<br>
    Phone No.: 054-3040758<br>
    Rehovot, Israel<br>
</p>

<H1>
 <p style="font-family:Tahoma">Contact me!<br>
</H1>

<p>
    <p style="font-family:Tahoma">
    Leave your details below:<br>
<form>
    <p style="font-family:Tahoma">
<label for="fname2">First name:</label><br>
<input type="text" id="fname2" name="fname2"><br>
<label for="lname2">Last name:</label><br>
<input type="text" id="lname2" name="lname2"><br>
<label for="email2">Email address:</label><br>
<input type="email" id="email2" name="email2"><br>
<label for="phone number">Phone number:</label><br>
<input type="tel" id="phone number" name="phone number"><br>
</form>
</p>

<h3>
    <p style="font-family:Tahoma">
    <a href="{{ url_for('linkedIn') }}">My LinkedIn profile</h3>
</body>
</html>
