<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
</head>
<body>
<p>
    <p style="font-family:Tahoma">
    <b>PREFACE</b><br>
I am a hardworking person with a passion for doing, an autodidact who loves challenges.<br>
<b>EDUCATION</b><br>
2017-today: Fourth-year Industrial Engineering student, Ben-Gurion University<br>
•	Information systems specialization<br>
•	Current GPA – 80<br>
2010-2013: Katzir High School, Rehovot<br>
•	Excellence Class – "Nachshon" program on behalf of the "Talpiot" military program – Development of skills and ideas such as leadership and entrepreneurship<br>
•	5 points Chemistry & Arabic<br>
•	Graduated with the highest honor<br>
•	Israeli Bagrut GPA – 114.2<br>
<b>WORK EXPERIENCE</b><br>
2020-today: Order Management Business Analyst, "Stratasys"<br>

•	Implementation of new organizational sales and order management processes in Salesforce & Oracle<br>
•	New products sales processes implementation & pricing<br>
•	Oracle Advanced Pricing Implementation and management<br>
•	Support of sales and order management teams in several regions<br>

2015-2017: Improving business processes, "Time-Watch"<br>

•	Implementation of a new Bookkeeping system and system analysis for the accounts division<br>
•	Co-established the company’s operating procedures and methodology<br>

2013-2015: classified elite unit, Intelligence Corps, Israel Defense Forces (IDF)<br>

•	Acquired a level 2 security clearance, which included undergoing a polygraph test<br>
•	Handpicked and Recruited to a classified elite Intelligence unit. Professionally trained within a rigorous 7-month long Arabic "Orot" course<br>
•	Gathered and analyzed Open-Source Intelligence by using 8200 unit's systems, Intelligence databases, and Web Research<br>
•	Worked exceptionally long hours and successfully managed a great deal of workload within a pressuring, deadline-oriented environment<br>
•	The position required the ability to work as a part of a team and manage to make decisions under pressure while remaining professional and sensitive regarding the work-related issues presented to me<br>

<b>PROFICIENCIES</b><br>
Language Skills: Fluent Hebrew, Fluent English, decent Arabic<br>
Computer Skills: Java, C#, Python, HTML, CSS, R, Visual Basic, SQL, Power BI, Excel, Solidworks<br>

</p>
</body>
</html>